---
interface Props {
  right?: boolean;
  img: string;
}

const { right = false, img } = Astro.props;
---

<div
  class="wrapper"
  style={{
    flexDirection: right ? "row-reverse" : "row",
  }}
>
  <div class="img">
    <img src={img} alt="" />
  </div>
  <div class="content">
    <slot />
  </div>
</div>

<style>
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .img {
    padding: 10px;
  }
  .content {
    padding: 10px;
  }
</style>
