---
// à utiliser sur un markdown

import type { MarkdownLayoutProps } from "astro";
import FrontPage from "../FrontPage.astro";
import type { ClubName, Slide } from "@/helpers";
import type { NavItem } from "@/components/global/Header.astro";

type Props = { logo?: ClubName } & MarkdownLayoutProps<{
  title: string;
  subtitle?: string;
  src?: string;
  priority?: boolean;
  inCarrousel?: boolean;
  nav?: NavItem[];
}>;

const {
  frontmatter: { title, subtitle, src, nav },
  logo,
} = Astro.props;

const slide: Slide[] = [
  {
    title,
    subtitle,
    alt: title,
    src,
  },
];
---

<FrontPage title={title} slides={slide} logo={logo} nav={nav}>
  <div class="md">
    <slot />
  </div>
</FrontPage>

<style>
  .md {
    width: 100%;
  }

  .md :global(h1) {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  .md :global(img) {
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 8px 8px 2px 1px rgba(var(--dark-color), 0.4);
  }

  .md :global(p:has(img)) {
    text-align: center;
    width: 100%;
  }

  .md :global(a) {
    color: var(--main-color);
    text-decoration: underline;
    font-weight: bold;
  }

  .md :global(a:hover) {
    color: var(--secondary-color);
  }

  .md :global(.icons) {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

</style>
