---
// à utiliser sur un markdown

import type { MarkdownLayoutProps } from "astro";
import FrontPage from "../FrontPage.astro";
import type { Slide } from "@/helpers";

type Props = { logo?: ClubName } & MarkdownLayoutProps<{
  title: string;
  subtitle?: string;
  src?: string;
  priority?: boolean;
  inCarrousel?: boolean;
}>;

const {
  frontmatter: { title, subtitle, src },
  logo,
} = Astro.props;

const slide: Slide[] = [
  {
    title,
    subtitle,
    alt: title,
    src,
  },
];
---

<FrontPage title={title} slides={slide} logo={logo}>
  <section>
    <slot />
  </section>
</FrontPage>
