---
// à utiliser sur un markdown

import type { MarkdownLayoutProps } from "astro";
import FrontPage from "../FrontPage.astro";
import type { ClubName, EventT } from "@/helpers";
import type { NavItem } from "@/components/global/Header.astro";

type Props = { logo?: ClubName } & MarkdownLayoutProps<{
  title: string;
  subtitle?: string;
  src?: string;
  priority?: boolean;
  inCarrousel?: boolean;
  nav?: NavItem[];
}>;

const {
  frontmatter: { title, subtitle, src, nav },
  logo,
} = Astro.props;

const event: EventT[] = [
  {
    title,
    subtitle,
    alt: title,
    src,
  },
];
---

<FrontPage title={title} events={event} logo={logo} nav={nav}>
  <div class="md">
    <slot />
  </div>
</FrontPage>

<style>
  .md {
    width: 100%;
  }

  .md :global(h1) {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  .md :global(img) {
    max-width: 300px;
  }


  .md :global(a) {
    color: rgb(var(--main-color));
    font-weight: bold;
  }

  .md :global(a:hover) {
    color: rgb(var(--secondary-color));
    text-decoration: underline;
  }

  .md :global(.icons) {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  /*.md :global(p) {
    text-indent: 1em;
  } */

</style>
