---
// Must be used client side

import { marked } from "marked";

interface Props {
  content: string;
  closeable?: boolean;
}

const { content, closeable = true } = Astro.props;

marked.use({
  breaks: true,
});

const html = marked.parse(content);
---

<div class="floatingBar" set:html={html}>
  {closeable && <button class="close">✕</button>}
</div>

<style>
  .floatingBar {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 102;
  }

  .floatingBar :global(a) {
    color: rgb(var(--main-color));
  }

  .floatingBar :global(a:hover) {
    color: rgb(var(--secondary-color));
  }

  @media (max-width: 768px) {
    .floatingBar {
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1rem;
      border-top: none;
      border-bottom: 1px solid #ddd;
    }
  }


  .floatingBar :global(p) {
    margin: 0;
  }

  .floatingBar button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background: transparent;
    border: none;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
  }

  .floatingBar button:hover {
    color: #f00;
  }

  .floatingBar button:focus {
    outline: none;
  }
</style>

<script is:inline>
  function getCookie(name) {
    let nameEQ = name + "=";
    let ca = document.cookie.split(";");
    for (var i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == " ") c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }

  document.addEventListener("astro:page-load", () => {
    const closeBtn = document.querySelectorAll("button.close");

    closeBtn.forEach((btn) => {
      btn.addEventListener("click", () => {
        btn.parentElement.remove();
        document.cookie = "floatingBar=1;";
      });
    });

    if (!getCookie("floatingBar")) {
      document
        .querySelectorAll(".floatingBar")
        .forEach((e) => (e.style.display = "flex"));
    }
  });
</script>
