---
import icons from "@/assets/events";
---

<div>
  <img src={icons.travaux.src} alt="Champsu En Construction" />
</div>
<style>
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  img {
    max-height: 40vh;
    max-width: 200px;
    padding: 10px;
  }
</style>
