---
interface Props {
  id?: string;
}
const { id } = Astro.props;
---

<section id={id}>
  <div class="content">
    <slot />
  </div>
</section>

<style>
  .content {
    text-align: justify;
  }
</style>
