---
import Insta from "../assets/insta.svg"
import Discord from "../assets/discord.svg"
import Twitter from "../assets/twitter.svg"
---
<footer>
    <div class="container">
        <div class="icons">
          <a href="https://discord.gg/be5X7qMNSQ" target="_blank">
            <img src={Discord} alt="discord invite">
          </a>
          <a href="https://www.instagram.com/play_sorbonne_u/" target="_blank">
            <img src={Insta} alt="Insta">
          </a>
          <a href="https://twitter.com/PlaySorbonneU" target="_blank">
          <img src={Twitter} alt="Twitter">
          </a>
        </div>
        <a href="mailto:playsorbonnefestival@gmail.com">
          playsorbonnefestival@gmail.com
        </a>
    </div>
</footer>

<style>
  footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--black-text));
    color: white;
  }

  img {
    width: 40px;
    filter: invert(1);
    margin: 0 10px;
  }

  img:hover {
    filter: invert(49%) sepia(78%) saturate(493%) hue-rotate(281deg) brightness(97%) contrast(87%);
  }

  a {
    font-size: 1.2rem;
  }
  a:hover {
    color: rgb(var(--pink));
  }

  .icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px
  }
</style>