---
import logo from "../assets/logo.svg";
---

<header>
  <div class="desktop">
    <div class="logo_wrapper">
      <img class="logo" src={logo.src} alt="logo" />
    </div>
    <div class="links">
      <a href="#accueil">accueil</a>
      <a href="#festival">le festival</a>
      <a href="#association">l'association</a>
      <a href="#clubs">les clubs</a>
      <a href="#programme">le programme</a>
    </div>
  </div>

  <div class="mobile">
      <img class="logo_mobile" src={logo.src} alt="logo" />
  </div>
</header>

<style>
  .mobile {
    display: none;
    height: 40px;
    background-color: rgb(var(--pink));
    justify-content: center;
    align-items: center;
  }

  .logo_mobile {
    height: 40px;
  }

  .desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 20px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  a {
    padding: 0 5px;
  }

  a:hover {
    color: rgb(var(--pink));
    text-decoration: underline;
  }

  .links {
    padding: 5px 20px;
    font-size: 1.3rem;
  }
  .logo_wrapper {
    position: relative;
    top: 60px;
    width: 300px;
    height: 100px;
    background-color: rgb(var(--pink));
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 2px 1px rgba(var(--pink), 0.4);
  }

  .logo {
    width: 80%;
  }

  @media (max-width: 900px) {
    .desktop {
      display: none;
    }
    .mobile {
      display: flex;
    }
  }
</style>
