---
import logo from "../assets/logo.svg";
---

<header>
  <div class="logo_wrapper">
    <img class="logo" src={logo} alt="logo" />
  </div>
  <div class="links">
    <a href="/">accueil</a>
    <a href="/">le festival</a>
    <a href="/">l'association</a>
    <a href="/">les clubs</a>
    <a href="/">le programme</a>
    <a href="/">contact</a>
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 20px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  a {
    padding: 0 5px;
  }
  .links {
    padding: 5px 20px;
    font-size: 1.3rem;
  }
  .logo_wrapper {
    position: relative;
    top: 60px;
    width: 300px;
    height: 100px;
    background-color: rgb(var(--pink));
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 2px 1px rgba(var(--pink), 0.4);
  }

  .logo {
    width: 80%;
  }
</style>
