---
interface Props {
  imgs: {
    src: string;
    alt: string;
    title: string;
    subtitle?: string;
  }[];
  className?: string;
}

const { imgs, className } = Astro.props;
---

<div class={"slide-container " + (className ?? "")}>
  {
    imgs.map((item) => {
      return (
        <div
          class="custom-slider"
          style={`background-image: url(${item.src});`}
        >
          <div class="btns">
            <a class="prev">uwu</a>
            <div class="slide-text">{item.title}</div>
            <a class="next">owo</a>
          </div>
        </div>
      );
    })
  }
</div>

<style>
  .custom-slider {
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .slide-container {
    width: 100%;
    height: 100%;
  }
  .prev,
  .next {
    cursor: pointer;
    /* position: absolute;
    top: 50%; */
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.6s ease;
  }

  .btns {
    padding-top: 30px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .slide-text {
    /* position: absolute; */
    color: #ffffff;
    font-size: 15px;
    text-align: center;
  }
  .slide-index {
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
  }
  .slide-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  .active,
  .dot:hover {
    background-color: #111111;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  document.querySelectorAll(".prev").forEach((el) => {
    el.addEventListener("click", () => plusSlides(-1));
  });

  document.querySelectorAll(".next").forEach((el) => {
    el.addEventListener("click", () => plusSlides(1));
  });

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName(
      "custom-slider"
    ) as unknown as HTMLElement[]; // HACK
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slides[slideIndex - 1].style.display = "block";
  }
</script>
