---
import { Image } from "astro:assets";
import Card, { type CardInfo } from "./Card.astro";

type Props = {
  cards: CardInfo[];
  imgOnly?: boolean;
};

let { cards, imgOnly } = Astro.props;
---

<div class="main">
  <!-- <div class="shade"></div> -->
  <div class="wrapperC animate">
    {
      !imgOnly &&
        cards.map((card) => (
          <div class="element">
            <Card {...card} />
          </div>
        ))
    }
    {
      imgOnly &&
        cards.map((card) => (
          <div class="element">
            <Image
              src={card.image}
              alt={card.titre}
              height={200}
              loading="eager"
            />
          </div>
        ))
    }
  </div>
</div>

<style define:vars={{ dur: `${cards.length * 2}s` }}>
  .offset {
    /* HACK Il marchera pas dans tout les cas ce -50%, faut peut-être faire la taille précise du padding */
    transform: translateX(-50%);
  }
  .wrapperC {
    display: inline-flex;
    overflow: hidden;
    padding: 20px;
    margin-top: 20px;
  }

  .animate {
    animation-name: slide;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: var(--dur);
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes slide {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(calc(-100% - 40vw));
    }
  }

  .element {
    margin: 0 10px;
    /* width: 400px; */
  }

  /* @media screen and (max-width: 768px) {
    .element {
      width: 300px;
    }
  } */

  .shade {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 1);

    width: 100%;
    height: 100%;
  }
</style>

<script>
  const wrappers = document.querySelectorAll<HTMLElement>(".wrapperC");

  wrappers.forEach((wrapper) => {
    wrapper.parentElement.classList.add("offset");
    wrapper.classList.remove("animate");
    const elements = wrapper.querySelectorAll<HTMLElement>(".element");

    elements.forEach((element) => {
      const clone = element.cloneNode(true);
      wrapper.appendChild(clone);
    });

    let offset = 0;

    function animateSlides() {
      offset -= 2; // Move slides to the left
      if (
        offset <=
        -(wrapper.firstElementChild as HTMLElement).offsetWidth - 20
      ) {
        offset = 0;
        wrapper.appendChild(wrapper.firstElementChild); // Move first slide to the end
      }
      wrapper.style.transform = `translateX(${offset}px)`;
      requestAnimationFrame(animateSlides); // Call the animation again
    }

    animateSlides();
  });
</script>
