---
interface Props {
  img: string;
  alt?: string;
  link?: string;
}

const { img, alt, link } = Astro.props;
---

<a class="wrapper" href={link}>
  <img src={img} alt={alt ?? "logo"} class="img" />
  <slot />
</a>

<style>
  .wrapper {
    background-color: rgb(var(--main-color));
    max-width: 200px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-justify: auto;
    margin: 0 20px;

    transform: scale(1);
    transition: all 0.5s ease-in-out;
  }

  .wrapper:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }

  .img {
    width: 100%;
  }

  @media (max-width: 768px) {
    .wrapper {
      flex-direction: row;
      width: 100%;
      margin: 20px 0;
      padding: 10px 5px;
      max-width: 100%;
    }
    .img {
      width: 20%;
    }
  }
</style>
