---
import ColorLigne from "../global/ColorLigne.astro";
import type { EventT } from "@/helpers";
import { sliceText } from "@/helpers";
import Club from "./Club.astro";

interface Props {
  events: EventT[];
  title: string;
  description?: string;
}

const MaxShortDescription = 200;
const MaxLongDescription = 400;
const MaxEvents = 4;

const { events, title, description } = Astro.props;
---

<div class="content">
  <h1 class="title">{title}</h1>
  <ColorLigne />

  {description && <p>{description}</p>}
  <div class="icons__clubs">
    {
      events.map((event, i) => (
        <Club
          img={event.cover}
          link={!event.noLink ? event.link : undefined}
          horizontal={events.length > MaxEvents}
        >
          <div class="event_content">
            <p class="event_title">{event.title}</p>
            <p>
              {sliceText(
                event.description,
                events.length > MaxEvents
                  ? MaxLongDescription
                  : MaxShortDescription
              )}
            </p>
          </div>
        </Club>
      ))
    }
  </div>
</div>
<style>
  .content {
    width: 100%;
  }

  .icons__clubs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 0;
    width: 100%;
  }

  .event_title {
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(var(--black-title));
  }
</style>
