---
interface Props {
  img: string;
  className?: string;
  title: string;
  subtitle: string;
}

const { img, className, title, subtitle } = Astro.props;
---

<div class=`wrapper ${className ?? ""}`>
  <img class="img" src={img} alt="icon" />

  <p class="title">
    {title}
  </p>
  <p class="subtitle">
    {subtitle}
  </p>
</div>

<style>
  p {
    padding: 0;
  }
  .img {
    max-width: 70px;
    filter: drop-shadow(4px 0px 0px rgba(var(--pink), 0.6));
  }

  .title {
    font-size: 0.8rem;
    font-weight: 700;
    color: rgb(var(--black-title))
  }

  .subtitle {
    font-size: 0.6rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
