---
import type { NavItem } from "@/components/global/Header.astro";
import DefaultPage from "./DefaultPage.astro";
import Carrousel from "@/components/index/Carrousel/Carrousel";
import { filterNonCarrousel, type ClubName, type EventT } from "@/helpers";
import ColorLigne from "@/components/global/ColorLigne.astro";

interface Props {
  logo?: ClubName;
  nav?: NavItem[];
  title: string;
  prefetchs?: string[];
  events?: EventT[];
}

const { logo, nav = [], title, prefetchs = [], events = [] } = Astro.props;

const navs = [
  {
    name: "accueil",
    link: "#accueil",
  },
];
---

<DefaultPage
  title={title}
  prefetchs={prefetchs}
  logo={logo}
  nav={[...navs, ...nav]}
>
  <main>
    <div class="color_ligne"></div>

    <ColorLigne />
    <section class="titre" id="accueil">
      <Carrousel client:load slides={filterNonCarrousel(events)} />
    </section>
    <ColorLigne />

    <div class="color_ligne"></div>

    <!-- <section class="events" id="events">
      <h1 class="titre_event">
      </h1>
    </section> -->

    <slot />
  </main>
</DefaultPage>

<style>
  main {
    min-height: calc(100vh - 100px - 80px); /* 80px = header, 100px = footer */
  }
  main :global(section) {
    padding: 30px 45px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  :global(section) > :global(.content) {
    max-width: 900px;
  }
  .titre {
    display: block;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-size: cover;
  }
</style>
