---
interface Props {
  title: string;
  prefetchs?: string[];
}

const { title, prefetchs } = Astro.props;

import Footer from "../components/global/Footer.astro";
import Header from "../components/global/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="description" content="Play Sorbonne Université, le site !" /> -->
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Titillium+Web:wght@200;400;700;900&display=swap"
      rel="stylesheet"
    />
    {prefetchs?.map((prefetch) => <link rel="prefetch" href={prefetch} />)}
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --pink: 232, 101, 173;
    --black-text: 61, 61, 111;
    --black-title: 0, 32, 51;
  }
  html {
    background-color: #f6f6f6;
    font-family: "Titillium Web", sans-serif;
    scroll-behavior: smooth;
  }
  * {
    box-sizing: border-box;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    padding: 5px 0;
    text-align: justify;
  }
</style>
