---
interface Props {
  img: string;
  alt?: string;
  link?: string;
  horizontal?: boolean;
  title?: string;
  left?: boolean;
}

const { img, alt, link, horizontal, title, left=false } = Astro.props;
---

<a class=`wrapper ${horizontal? "wrapper_hor" : ""} ${link ? "animate" : ""}` href={link}>
  {!left && <img
    src={img}
    alt={alt ?? "logo"}
    class=`img ${horizontal ? "img_hor" : ""}`
  />}
  <slot />

  {left && <img
    src={img}
    alt={alt ?? "logo"}
    class=`img ${horizontal ? "img_hor" : ""}`
  />}
</a>

<style>
  .animate {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
  }
  .animate:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }

  .wrapper {
    background-color: rgb(var(--main-color));
    max-width: 200px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-justify: auto;
    margin: 0 20px;
  }

  .img {
    width: 100%;
  }

  @media (max-width: 768px) {
    .wrapper {
      flex-direction: row;
      width: 100%;
      margin: 10px 0;
      max-width: 100%;
    }

    .wrapper .img {
      max-width: 30%;
      max-height: 30%;
    }

    .img {
      max-width: 20%;
      max-height: 200px;
      padding-right: 10px;
    }
  }

  @media (max-width: 500px) {
    .wrapper {
      flex-direction: column;
    }

    .wrapper .img {
      max-width: 50%;
      max-height: 50%;
    }
  }

  .wrapper_hor {
    flex-direction: row;
    width: 100%;
    margin: 5px 0;
    max-width: 100%;
  }

  .img_hor {
    max-width: 20%;
    max-height: 200px;
    padding-right: 10px;
  }
</style>
